* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form_group label {
  font-weight: bold;
  margin-bottom: 5px;
}
.form_group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
h1 {
  text-align: center;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
.form_message {
  margin-top: 10px;
  color: red;
}
